models/
!code/OSX/main/transformer_utils/mmpose/models/
videos/
outputs/
cache/
__pycache__/
*.pyc
*.pkl
*.mp4
.DS_Store
*.pth.tar
*.pth
*.ckpt
*.pt
*.zip
*.rar
*.7z
*.tar
*.gz
.gitignore_backup
*.gif
*.ipynb
**/datasets/word2motion/
**/WLASL_v0.3.json
