numpy==1.22.0
opencv-python
opencv-contrib-python
scipy
scikit-image
scikit-learn
smplx==0.1.28
tqdm
yacs
torchfile
plyfile
munkres
chumpy
trimesh
shyaml
PyYAML==5.4.1
numpy-quaternion
pygame
keyboard
transforms3d
bvhtoolbox
vedo
imgaug==0.4.0
tensorboard
tensorboardx
pycocotools
plotly
open3d
addict
loguru
norfair
h5py
imageio-ffmpeg
pyrender
joblib
pandas
Pillow
matplotlib
numba
filterpy
cython
json_tricks
torchgeometry
einops
boto3
requests
easydict
timm
pyglet
psutil
seaborn
setuptools==59.5.*
prettytable
