numpy<3
opencv-python
opencv-contrib-python
scipy
scikit-image
scikit-learn
smplx
tqdm
yacs
torchfile
plyfile
munkres
chumpy
trimesh
shyaml
PyYAML
numpy-quaternion
pygame
keyboard
transforms3d
bvhtoolbox
vedo
imgaug
tensorboard
tensorboardx
pycocotools
plotly
open3d
addict
loguru
norfair
h5py
imageio-ffmpeg
pyrender
joblib
pandas
Pillow
matplotlib
numba
filterpy
cython
json_tricks
torchgeometry
einops
boto3
requests
easydict
timm
pyglet
psutil
seaborn
prettytable
